<div class="invoice-diagnosis">
  <strong>Diagnose:</strong>
  <%= @invoice.diagnosis %>
</div>

<div class="invoice-entry-lines">
  <table>
    <tbody>
      <%= render partial: 'entry_line', collection:  @invoice.entry_lines %>
    </tbody>
  </table>
</div>


<strong>Gesamthonorar: <%= @invoice.totalfee %>.-</strong>

<strong><hr id="totalline"></strong>
