<hr/>

<div id="invoice-thanks">
    Betrag dankend erhalten
</div>

<div id="invoice-costs">
  <strong>Antrag auf Kostenr&uuml;ckerstattung/-zuschuss der Wahlarzthonorarnote</strong>
</div>

<div id="invoice-refund">
  Ich bitte um &Uuml;berweisung des mir zustehenden Betrages auf mein Konto.<br>

  <div id="invoice-bank">
    Meine Bank:
  </div>

  <div id="invoice-iban">
    IBAN.................................................. BIC.................................
  </div>
</div>

<div id="invoice-greetings">
    Hochachtungvoll
</div>

<div id="invoice-signature">
    Unterschrift:
</div>
