<div id="invoice-thanks">
    Betrag dankend erhalten
</div>

<div id="invoice-costs">
  <strong>Antrag auf Kostenr&uuml;ckerstattung/-zuschuss der Wahlarzthonorarnote</strong>
</div>

<div id="invoice-refund">
    Ich bitte um &Uuml;berweisung des mir zustehenden Betrages auf mein Konto.<br>
    Meine Bank:<br>
    IBAN.................................................. BIC.................................
</div>

<div id="invoice-greetings">
    Hochachtungvoll
</div>

<div id="invoice-signature">
    Unterschrift:
</div>
