<div class="container">
  <div class="row">
    <%= render 'shared/the_flash' %>
  </div>
  <table class="table table-striped">
    <thead>
      <tr>
	<th>Date</th>
	<th>Invoicenumber</th>
	<th>Diagnosis</th>
	<th>Total</th>
      </tr>
    </thead>
    <tbody>
      <%= render @invoices %>
    </tbody>
  </table>
</div>
