<div class="container center">
  <div class="row">
    <%= render 'shared/the_flash' %>
  </div>

  <h1>Show invoice</h1>
  <%= render 'header' %>
  <%= render 'display' %>
  <%= link_to 'Back', patient_invoices_path(@patient), class: 'btn btn-primary' %>
</div>
