<div class="container">
  <div class="center jumbotron">
    <h2>As there currently no invoices for this patient, please feel free and</h2>
    <%= link_to "Create a new invoice", new_patient_invoice_path, class: "btn btn-lg btn-primary" %>
  </div>
</div>
