<div class="row">
  <div class="col-md-8 text-left">
    Betrag dankend erhalten
  </div>
</div>

<div class="row">
  <div class="col-md-12" id="refund">
    <strong>Antrag auf Kostenr&uuml;ckerstattung/-zuschuss der Wahlarzthonorarnote</strong>
  </div>
</div>
<div class="row">
  <div class="col-md-8 text-left">
    Ich bitte um &Uuml;berweisung des mir zustehenden Betrages auf mein Konto.<br>
    Meine Bank:<br>
    IBAN.................................................. BIC.................................
  </div>
</div>
<div class="row">
  <div class="col-md-8 text-left" id="greeting">
    Hochachtungvoll
  </div>
</div>
<div class="row">
  <div class="col-md-8 col-md-offset-4 text-left">
    Unterschrift:
  </div>
</div>
