<div class="container">
  <div class="row">
    <%= render 'shared/the_flash' %>
  </div>
  <div class="row">
    <%= render 'shared/aside' %>

    <div class="col-md-8">
      <% if @consultations.empty? %>
	<div class="center jumbotron">
	  <h3>There are currently no consulations for this patient, please feel free and</h3>
	  <%= link_to "Create a new consultation", new_patient_consultation_path, class: "btn btn-lg btn-primary" %>
	</div>
      <% else %>
	<%= render @consultations %>
      <% end %>
    </div>
  </div>
</div>
