<div class="container">
  <div class="row">
    <%= render 'shared/the_flash' %>
  </div>

  <table class="table table-striped">
    <thead>
      <tr>
	<th>Username</th>
	<th>Full Name</th>
	<th>Email</th>
      </tr>
    </thead>
    <tbody>
      <%= render @users %>
    </tbody>
  </table>

  <%= link_to "Create new user", new_user_path, class: "btn btn-primary" %>
</div>
