<% if object.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-danger">
      The form contains <%= pluralize(object.errors.count, "error") %>.
    </div>
    <ul>
      <% object.errors.full_messages.each do |msg| %>
	<li>
	  <% if defined? locals and locals[:parent] %>
	    <%= locals[:parent] %>
	  <% end %>
	    <%= msg %>
	</li>
      <% end %>
    </ul>
  </div>
<% end %>
