<div class="container">
  <div class="center jumbotron">
    <h2>There are currently no abbrevations defined, please add one</h2>
    <%= link_to "Create a new abbrevation", new_abbrevation_path, class: "btn btn-lg btn-primary" %>
  </div>
</div>
