<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h3 id="myModalLabel">Search for parent</h3>
    </div>
    <div class="modal-body">
      <div class="container-fluid">
	<div class="row">
	  <%= form_tag patients_path, :method => 'get', :id => 'patients_search' do %>
	    <div class="form-group">
	      <div class="col-md-6 col-md-offset-1">
		<%= text_field_tag :search, params[:search], class: 'form-control', placeholder: 'Lastname' %>
	      </div>
	      <div class="col-md-2">
		<%= submit_tag "Search", name: nil, class: 'btn btn-primary' %>
	      </div>
	    </div>
	  <% end %>
	</div>
	<div class="row">
	  <table class="table table-striped">
	    <thead>
	      <tr>
		<th>Firstname</th>
		<th>Lastname</th>
		<th>Address</th>
		<th>SSN</th>
	      </tr>
	    </thead>
	    <tbody>
	      <%= render @patients %>
	    </tbody>
	  </table>
	</div>
      </div>
    </div>
    <div class="modal-footer">
      <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
      <button class="btn btn-primary">Add</button>
    </div>
  </div>
</div>
