<% content_for :head do %>
  <%= javascript_include_tag 'selectparent' %>
<% end %>

<%= render 'parent_search_modal' %>

<div class="container center">
  <h1>Edit Patient</h1>
  <%= render 'patient_input' %>
</div>
