<div class="container">
  <div class="row">
    <%= render 'shared/the_flash' %>
  </div>
  <table class="table table-striped">
    <thead>
      <tr>
	<th>Firstname</th>
	<th>Lastname</th>
	<th>Address</th>
	<th>SSN</th>
      </tr>
    </thead>
    <tbody>
      <%= render @patients %>
    </tbody>
</table>
</div>
