<div id="modal-window" class="modal fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
</div>

<div class="container center">
  <h1>Create a new patient record</h1>
  <%= render 'patient_input' %>
</div>
