// scss only includes in the invoice views

textarea {
  border: 0;
  font: 14px Georgia, Serif;
  overflow: hidden;
  resize: none;
}

.invoice-page {
  width: 210mm;
  position: relative;
  font: 14px Georgia, Serif;
  margin-left: auto;
  margin-right: auto;
}

.invoice-header {
  height: 250px;
  width: 100%;
  margin: 20px 0;
  padding: 8px 0px;
}

#invoice-identity {
  height: 200px;
}

#invoice-address {
  width: 250px;
  height: 100px;
  float: left;
}

#invoice-logo {
  text-align: right;
  float: right;
  position: relative;
  margin-top: 25px;
  border: 1px solid #fff;
  max-width: 540px;
  max-height: 100px;
  overflow: hidden;
}

#invoice-customer {
  width: 250px;
  height: 100px;
}

#invocie-number-date {
  height: 40px;
}
