/*
 *= require print
 */

html, body {
  width: 210mm;
  height: 297mm;
}

body {
  background: white;
  font-size: 12pt;
  font-family: Georgia, 'Times New Roman', serif;
  height: 100%; padding: 0; margin: 0;
}

#top {
  height: 70%;
}

#bottom {
  height: 20%;
}

#totalline {
  height: 0.25em;
}
