/*
 *= require print
 */

html, body {
  width: 210mm;
  height: 297mm;
  min-height: 100%;
}

body {
  background: white;
  font-size: 12pt;
  font-family: Georgia, 'Times New Roman', serif;
  height: 100%; padding: 0; margin: 0;
}

.invoice-header {
  width: 100%;
  height: 38%;
  min-height: 38%;
}

.invoice-main {
  height: 30%;
  min-height: 30%;
  width: 100%;
  margin-top: 0;
  padding-top: 5mm;
}

.invoice-footer {
  height: 28%;
  min-height: 28%;
  with: 100%;
  margin-bottom: 0;
  padding-top: 10mm;
}

.invoice-logo {
  width: 70%;
  float: left;
}

.invoice-issuer {
  width: 30%;
  float: right;
}

.invoice-receiver {
  margin-top: 20mm;
  float: left;
  width: 100%;
}

.invoice-number-date {
  float: left;
  width: 100%;
  margin-top: 15mm;
}

.invoice-number {
  float: left;
}

.invoice-date {
  float: right;
}

.invoice-examination-date {
  margin-top: 10mm;
  float: left;
  width: 100%;
}

.invoice-diagnosis {
  with: 100%;
}

.invoice-entry-lines {
  width: 100%;
  padding-left: 10mm;
  padding-top: 5mm;
  padding-bottom: 10mm;
}

#totalline {
  height: 0.25em;
}
